$white: white
$black: black
$display-color: lighten($black, 40%)
$number-color: lighten($black, 80%)
$number-hover: lighten($number-color, 10%)
$number-active: darken($number-hover, 5%)
$number-text: $white
$operator-color: lighten($black, 65%)
$operator-hover: lighten($operator-color, 5%)
$operator-active: darken($operator-hover, 5%)
$operator-text: $white
